{% extends "main/base.html" %}

{% block title %}Editar Usuário{% endblock title %}

{% block css %}
  <style media="screen">
    .helptext {color: silver; font-size: 14px;}
  </style>
{% endblock css %}

{% block content %}
  <form class="text-center" action="{% url 'authentication:user-update' request.user.id %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          {{form.as_table}}

          <tr>
            <td colspan="2" class="text-center"><input type="submit" class="btn btn-dark" value="Enviar"></td>
          </tr>
        </table>
      </div>
    </div>
  </form>
{% endblock content %}

{% block js %}
  <script type="text/javascript">
    $('input[type="text"]').addClass('form-control');
    $('input[type="email"]').addClass('form-control');
    $('input[type="url"]').addClass('form-control');
  </script>
{% endblock js %}
