<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{% url 'market:buy' %}">Mercado SimCompanies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item{% if page == 'buy' %} active{% endif %}">
        <a class="nav-link" href="{% url 'market:buy' %}">Quero Comprar</a>
      </li>
      <li class="nav-item{% if page == 'sell' %} active{% endif %}">
        <a class="nav-link" href="{% url 'market:sell' %}">Quero Vender</a>
      </li>
      <li class="nav-item{% if page == 'demand' %} active{% endif %}">
        <a class="nav-link" href="{% url 'demand:list_request' %}">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'authentication:logout' %}">Sair</a>
      </li>
    </ul>
  </div>
</nav>
