{% extends "main/base.html" %}

{% block title %}Quero comprar{% endblock title %}

{% block description %}
  Aqui, você pode buscar produtos que outros jogadores estão vendendo.<br>Utilize os controles para buscar e solicite o produto desejado clicando em <i class="fas fa-truck"></i>.<br>Possui produtos para vender? Clique em <i class="fas fa-plus"></i>.
{% endblock description %}

{% block content %}

  <div class="row">
    <div class="col-12">

      <div class="table-responsive">
        <table class="table">
          <tr>
            <th class="text-center">Empresa</th>
            <th class="text-center">Produto</th>
            <th class="text-center">Qualidade</th>
            <th class="text-center">Quantidade</th>
            <th class="text-center">Preço</th>
          </tr>

          <form method="get" action="{% url 'market:buy' %}">
            <tr>
              <td class="text-center">
                <button class="btn btn-danger" type="reset" title="Limpar formulário"><i class="fas fa-times-circle"></i></button>
              </td>
              <td class="text-center">{{form.product}}</td>
              <td class="text-center">{{form.quality}}</td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center">
                <button class="btn btn-primary" type="submit" title="Buscar"><i class="fas fa-search"></i></button>
                <a href="#" class="btn btn-success" title="Adicionar produto"><i class="fas fa-plus"></i></a>
              </td>
            </tr>
          </form>

          {% for product in object_list %}
            <tr>
              <td class="text-center">
                <a href="https://www.simcompanies.com/pt/company/{{product.owner.company_name}}/" title="{{product.owner.company_name}}" target="_blank">
                  {{product.owner.thumbnail_logo}}
                </a>
              </td>
              <td class="text-center">
                {{product.product.thumbnail}}&nbsp;
                {{product.product.name}}
              </td>
              <td class="text-center">
                {% if product.quality == 0 %}
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                {% elif product.quality == 1 %}
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                {% elif product.quality == 2 %}
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                {% elif product.quality == 3 %}
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                {% elif product.quality == 4 %}
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                {% elif product.quality == 5 %}
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                {% elif product.quality == 6 %}
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                {% elif product.quality == 7 %}
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="far fa-star" style="color: #ccc"></i>
                {% elif product.quality == 8 %}
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                  <i class="fas fa-star" style="color: #FFD700"></i>
                {% endif %}
              </td>
              <td class="text-center">{{product.quantity}}</td>
              <td class="text-center">
                {% if product.price %}
                  {{product.price}}
                {% else %}
                  Em aberto
                {% endif %}
              </td>
              <td class="text-center">
                <a href="{% url 'demand:add_request' product.id %}" class="btn btn-dark" title="Solicitar compra">
                  <i class="fas fa-truck"></i>
                </a>
              </td>
            </tr>
          {% endfor %}

        </table>
      </div>

    </div>
  </div>
{% endblock content %}
