{% extends "main/base.html" %}

{% load quality_stars %}

{% block title %}Quero vender{% endblock title %}

{% block description %}
  Aqui, você pode buscar produtos que outros jogadores estão pretendendo comprar.<br>Utilize os controles para buscar e venda seus produtos clicando em <i class="fas fa-truck-loading"></i>.<br>Está buscando um fornecedor? Clique em <i class="fas fa-plus"></i>.
{% endblock description %}

{% block content %}

  <div class="row">
    <div class="col-12">

      <div class="table-responsive">
        <table class="table">
          <tr>
            <th class="text-center">Empresa</th>
            <th class="text-center">Produto</th>
            <th class="text-center">Qualidade</th>
            <th class="text-center">Quantidade</th>
            <th class="text-center">Preço</th>
          </tr>

          <form method="get" action="{% url 'market:sell' %}">
            <tr>
              <td class="text-center">
                <button class="btn btn-danger" type="reset" title="Limpar formulário"><i class="fas fa-times-circle"></i></button>
              </td>
              <td class="text-center">{{form.product}}</td>
              <td class="text-center">{{form.quality}}</td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center">
                <button class="btn btn-primary" type="submit" title="Buscar"><i class="fas fa-search"></i></button>
                <a href="#" class="btn btn-success" title="Adicionar produto"><i class="fas fa-plus"></i></a>
              </td>
            </tr>
          </form>

          {% for product in object_list %}
            <tr>
              <td class="text-center">
                <a href="https://www.simcompanies.com/pt/company/{{product.owner.company_name}}/" title="{{product.owner.company_name}}" target="_blank">
                  {{product.owner.thumbnail_logo}}
                </a>
              </td>
              <td class="text-center">
                {{product.product.thumbnail}}&nbsp;
                {{product.product.name}}
              </td>
              <td class="text-center">
                {{product.quality|quality_stars|safe}}
              </td>
              <td class="text-center">{{product.quantity}}</td>
              <td class="text-center">
                {% if product.price %}
                  {{product.price}}
                {% else %}
                  Em aberto
                {% endif %}
              </td>
              <td class="text-center">
                <a href="{% url 'demand:add_request' product.id %}" class="btn btn-dark" title="Solicitar compra">
                  <i class="fas fa-truck-loading"></i>
                </a>
              </td>
            </tr>
          {% endfor %}

        </table>
      </div>

    </div>
  </div>
{% endblock content %}
