{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Mercado SimCompanies</title>

  {% include "includes/css.html" %}
</head>
<body>
  {% include "includes/menu.html" with page=page %}

  <main role="main" class="container-fluid">
    {% include "includes/messages.html" with messages=messages %}
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">{% block title %}{% endblock title %}</h1>
        <p class="text-center">{% block description %}{% endblock description %}</p>
      </div>
    </div>
    {% block content %}{% endblock content %}
  </main>
  {% include "includes/js.html" %}
</body>
</html>
